*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}



/* section 1 latest liked */

.sec-1{
  width: 70%;
  
  margin: 0 auto;
}


.latest-container{
  position: relative;
  min-height: 20em;
  border: rgb(65, 65, 65) solid;
  border-radius: 10px;
  margin-bottom: 50px;
}
.latest-container h2{
  text-align: center;
  position: relative;
  top: 40px;
  font-size: 35px;
}
.products{
  
  position: relative;
  padding: 0 50px;
  margin-top: 7em;
}
.product{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product li{
  font-size: 30px;
  justify-content: space-around;
  margin-left: 40px;
  margin-top: 15px;
}

.hero-box{
  height: 40vh;
  width: 100%;
  background-image: url(../pic/rome-1799670_1280.jpg);
  background-repeat: no-repeat;
  background-size: 100%;  /* Back size robi ze sa obrazok zmensuje  a navbar je potom biely */
  background-position-y: center;
  background-attachment: fixed;   /* spravi to parallax efekt */
  object-fit: cover;
  position: relative;
  z-index: -1;

}

.sec-2{
  height: 100vh;
  width: 70%;
  margin: 0 auto;
}
.other-container{
  min-height: 20em;
}
.other-posts-h2{
  text-align: center;
  position: relative;
  top: 40px;
  font-size: 35px;
}


.fav__link{
  color: black;
  text-decoration: none;
}
.fav__link:hover{
  text-decoration: underline;
}
