*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}



/* SECTION 1 */

.sec1{
  background: #fff;
  height: 100vh;
}

.container{
  margin: 0 auto;
  position: relative;
  width: 70%;
  height: 500px;
  background: #4c4c4c;
  border: solid 10px #2c2c2c;
}

.slide-img{
  position: absolute;
  width: 100%;
  height: 100%; 
}
.slide-img img{
  width: 100%;
  height: 100%;
}

#i1, #i2, #i3{
  display: none;
}

.per, .nxt{
  width: 8%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(88, 88, 88, 0.4);
  z-index: 99;
  cursor: pointer;

}

.per{
  left: 0;
  
}
.nxt{
  right: 0;  
}


.slide-img h2{
  position: relative;
  top: 45%;
  font-size: 45px;
  text-align: center;
  color: #2c2c2c;
}


.container-nav{
  width: 100%;
  height: 11px;
  bottom: 5%;
  position: absolute;
  text-align: center;
  z-index: 99;
}

.dots{
  
  width: 15px;
  height: 15px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.4);
}

.slide-img{
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
  z-index: 9;
}

#i1:checked ~ .container-nav #dot1,
#i2:checked ~ .container-nav #dot2,
#i3:checked ~ .container-nav #dot3{
  background: #fff;
}

.subtitle{
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
  position: relative;
  top: 3%;
}
.subtitle a{
  text-decoration: none;
  color: #2c2c2c;
  transition: 0.3s;
}
.subtitle a:hover{
  color: #000;
}

/* PRODUCTS SEC */

.bg-products{
  
  background: #1a1c20;
}


.product-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;

}

.product-img{
  display: block;
  position: relative;
  margin: 30px;
}

.product-title{
  color: #d6e0f0;
}

.product-title a{
  text-decoration: none;
  color: #d6e0f0;
  transition: 0.3s;
}

.product-title a:hover{
  color: #8d93ab;
}

.product-desc{
  height: 37px;
  width: 300px;
  overflow: hidden;
  white-space: pre-wrap;
  color: #f1f3f8;
}



/* SEC 3 */

.sec3{
  height: 250px;
  width: 100%;
  margin: 0 auto;
  background: #f6f7d4;
}
.text-to-login{
  height: 100%;
  text-align: center;
}
.text-to-login p{
  padding-top: 125px;
  
}


/*  FOOTER OF PAGE */

.end-page{
  background-color: black;
  height: 300px;
}
.end-page h2{
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  display: block;
  color: rgb(70, 70, 70);
  text-align: center;
  padding-top: 250px; 
  
}