*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}






.sec1{
  position: relative;
  width: 90%;
  height: auto;
  margin: 0 auto;
  
}

.content-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.img__wrapper-mainIMG{
  display: block;
  width: 80%;
  height: auto;
}
.img__wrapper-mainIMG img{
  width: 100%;
  height: 100%;
  border-radius: 40px ;
}

.blog-title{
  font-size: 64px;
  font-family: serif;
  position: relative;
  display: block;
  
  text-align: left;

}

.article__wrapper{
  
  width: 80%;
  margin-top: 30px;
}
.article{
  font-size: 19px;
  padding: 20px;
  line-height: 35px;
  margin-bottom: 80px;
}

.twoImgs__wrapper{
  display: flex;
  
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}


.article__img-fig{
  margin-top: 50px;
  width: 400px;
  height: auto;
}
.article__img-fig img{
  width: 100%;
}

.img__figcaption{
  
  line-height: 23px;
  font-size: 16px;
}


.img__wrapper{
  position: relative;
  display: block;
  width: 400px;
  height: auto;
  
}
.img__wrapper img{
  width: 100%;
}





.like-btn{
  
  text-indent: -99999;
  display: inline-block;
  position: relative;
  font-size: 30px;
  left: 20px;
  height: 50px;
  width: 60px;
  background-image: url(../pic/iconfinder_heart_299063.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
}


.content-text{
  
  display: flex;
  flex-direction: column;
}

.content-text h1{
  text-align: center;
  position: relative;
  top: 70px;
}

.content-text p{
  width: 60%;
  text-align: center;
  position: relative;
  margin:110px auto 50px;
}

.more-info {
  width: 100%;
  text-align: center;

}
.more-info a{
  text-decoration: none;
  color: rgb(73, 73, 73);
  transition: 0.4s;
}
.more-info a:hover{
  color:black;
  transition: 0.4s;
}


.blog_view__line{
  position: relative;
  top: 0px;
  display: block;
  height: 1px;
  width: 50%;
  margin: 0 auto;
  background: #000;
}

  /* down products */

  .sec2{
    position: relative;
    
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  
  .otehr-products-container{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .img-container img{
    height: 300px;
    width: 300px;
  }
  .img-container h3{
    text-align: center;
  }