*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}


.nav-bar-UP{
  border-top: solid rgb(104, 103, 103);
  border-bottom: solid rgb(104, 103, 103);
  height: 100px;
  width: 100%;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.logo{
  position: relative;
  font-size: 35px;
  color: black;
  top: 30px;

  text-decoration: none;
}

.nav-bar{
  height: 50px;
  width: 70%;
  margin: 20px auto;
 
  
}
.nav-bar-text{
  justify-content: space-around;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 30%;
  padding-right: 30%;


}
.nav-bar-text li a{
  text-decoration: none;
  font-size: 18px;
  color: black;
}

#now_page{
  border-bottom: solid black 2px; 
}

.main-pic{
  position: absolute;
  display: block;
  background-image: url(../pic/main_images_in_dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 80%;
  z-index: -1;
  margin: 0 15%;
}

.title{
  color: white;
  width: 120px;
  position: absolute;
  text-align: right;
  margin-left:83%;
  margin-top: 40%;
  font-size: 40px;
  font-family: 'Srisakdi', cursive;
}

.section_1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin-top: 50%;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  
}
.subimages figcaption{
  font-size: 20px;
  text-align: center;
}

.about_me{
   margin-top: 3%;
  height: 3%;
  text-align: center;
  
}
.about_me p{
  margin: 1% auto;
  width: 30%;
}

.section_2 img{
  align-items: center;
  margin-top: 2%;
  margin-left: 40%;
  margin-bottom: 4%;
}





.end-page{
  background-color: black;
  height: 300px;
}
.end-page h2{
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  display: block;
  color: rgb(70, 70, 70);
  text-align: center;
  padding-top: 250px; 
}