{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/products-style.css">

  <!-- AOS animation link -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <link rel="stylesheet" href="{% static 'css/nav_bar.css' %}">
  <title>Products</title>
</head>
<body>
  <header>

    <div class="nav-bar-UP">
      <h2><a href="#" class="logo" >Matejov Blog</a></h2>
      <div>
        {% if user.is_authenticated %}
          <h4 class="logged-user" >hello, {{request.user}}</h4>
          <h4 class="logout" ><a href="{% url 'account:logout' %}">logut</a></h4>
        
          {% else %}
          <h3 class="login"><a href="{% url 'account:login' %}">Log In</a></h3>
        {% endif %}
          
      </div>
    </div>


    <nav class="nav-bar">
      <ul class="nav-bar-text">
        <li><a href="{% url 'homePage:home' %}">Domov</a></li>
        <li><a href="{% url 'productPage:products' %}" id="now_page">Produkty</a></li>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto&display=swap" rel="stylesheet">
        <li><a href="{% url 'contactPage' %}">Kontakt</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'likedPage' %}" >Obľubené</a></li>
        {% endif %}
      </ul>
    </nav>
    </div>
  </header>

  <section class="sec1" >

    <div class="container">

      <input type="radio" name="images" id="i1" checked>
      <input type="radio" name="images" id="i2">
      <input type="radio" name="images" id="i3">

      
      <div class="slide-img" id="one">
        <a href="{% url 'productPage:thisProduct' random_blog1.id random_blog1.product_title %}"><img src="{{random_blog1.product_image.url}}"></a>

          <label for="i3" class="per"> 
            <h2> < </h2>
          </label>
          <label for="i2" class="nxt"> 
            <h2> > </h2>
          </label>

      </div>

      <div class="slide-img" id="two">
        <a href="{% url 'productPage:thisProduct' random_blog2.id random_blog2.product_title %}"><img src="{{random_blog2.product_image.url}}"></a>

          <label for="i1" class="per"> 
            <h2> < </h2>
          </label>
          <label for="i3" class="nxt"> 
            <h2> > </h2>
          </label>
      </div>

      <div class="slide-img" id="three">
        <a href="{% url 'productPage:thisProduct' random_blog3.id random_blog3.product_title %}"><img src="{{random_blog3.product_image.url}}"></a>

          <label for="i2" class="per"> 
            <h2> < </h2>
          </label>
          <label for="i1" class="nxt"> 
            <h2> > </h2>
          </label>
      </div>
      
      <div class="container-nav">
        <label for="i1" class="dots" id="dot1"></label>
        <label for="i2" class="dots" id="dot2"></label>
        <label for="i3" class="dots" id="dot3"></label>


      </div>


    </div>

    <h2 class="subtitle"> <a href="#Viac-produktov">Pozri si všetko </a></h2>

  </section>
  
  <section class="sec_products">
    
    <div class="bg-products">

      <div class="product-container" id="Viac-produktov">

        {% for p in product %}
          <div class="product-img" >
            <img src="{{p.product_image.url}}" alt="" style="width: 300px; height: 300px;" >

            <label for="">
              {% if user.is_authenticated %} <!-- ak je user prihlaseny ,moze kliknut na odkaz inak napoise error -->
              
              <h1 class="product-title" ><a href="{% url 'productPage:thisProduct' p.id p.product_title %}"> {{p.product_title}}</a></h1>

              {% else %}
              <h1 class="product-title" >{{p.product_title}}</h1>

              {% endif %}
              <p class="product-desc" >{{p.product_description}}</p>

            </label>
          </div>
        {% endfor %}
    </div>
  </section>

  {% if not user.is_authenticated %}
    <section class="sec3">
      
      <div class="text-to-login">
        <p>Ak si chcete bližšie pozrieť naše produkty prihláste sa.</p>
        <a href="{% url 'account:login' %}">Log in</a>
      </div>

    </section>
  {% endif %}


  <footer class="end-page">
    <h2>Created by Matej</h4>
  </footer>


 <!-- AOS Scripts -->
 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
 <script>
  AOS.init();
  AOS.init({
    
    offset: 100,
    
  
  });


</script>

{% if not user.is_authenticated %}
 <script src="../static/JavaScript/user_not_loggin_message_script.js"></script>
{% endif %}

</body>


</html>