{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/product-page-style.css' %}">
  <link rel="stylesheet" href="{% static 'css/nav_bar.css' %}">
  
  <title>Product {{product.product_title}} </title>
</head>
<body>
  <header>

    <div class="nav-bar-UP">
      <h2><a href="#" class="logo" >Matejov Blog</a></h2>
      
      <div class="logout-div">
        <h4>hello, {{request.user}}</h4>
        <h4><a href="{% url 'account:logout' %}">logut</a></h4>
             
      </div>

    </div>


    <nav class="nav-bar">
      <ul class="nav-bar-text">
        <li><a href="{% url 'homePage:home' %}">Domov</a></li>
        <li><a href="{% url 'productPage:products' %}" >Produkty</a></li>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto&display=swap" rel="stylesheet">
        <li><a href="{% url 'contactPage' %}">Kontakt</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'likedPage' %}" >Obľubené</a></li>
        {% endif %}
      </ul>
    </nav>
    </div>
  </header>
  


  <section class="sec1">
    
    <div class="content-container">

      <div class="img__wrapper-mainIMG">
        <img src="{{product.product_image.url}}" alt="">
      </div>

      <h1 class="blog-title">{{product.product_title}}</h1>
      
      
      <div class="article__wrapper">

        <article class="article">
       
          {{product.product_description}}
        </article>

        {% if product.blog_description2 != '' %}
          <article class="article">
            {{product.blog_description2}}

           
            <div class="twoImgs__wrapper">
              {% if product.blog_figure2 != '' %}
                <figure class="article__img-fig">
                  <img src="{{product.blog_figure2.url}}" alt="">
                  <figcaption class="img__figcaption">
                    {{product.blog_figure2_des}}
                  </figcaption>
                </figure>
              {% endif %}
              {% if product.blog_figure2_2 != '' %}  
                <figure class="article__img-fig img2">
                  <img src="{{product.blog_figure2_2.url}}" alt="">

                  <figcaption class="img__figcaption">
                    {{product.blog_figure2_2_des}}
                  </figcaption>
                </figure>
              {% endif %}
            </div>

          </article>
          
          {% endif %}
        {% if product.blog_description3 != '' %}
          <article class="article">
            {{product.blog_description3}}

            <div class="twoImgs__wrapper">
              {% if product.blog_figure3 != '' %}
                <figure class="article__img-fig">
                  <img src="{{product.blog_figure3.url}}" alt="">
                  <figcaption class="img__figcaption">
                    {{product.blog_figure3_des}}
                  </figcaption>
                </figure>
              {% endif %}
              {% if product.blog_figure3_2 != '' %}  
                <figure class="article__img-fig img2">
                  <img src="{{product.blog_figure3_2.url}}" alt="">

                  <figcaption class="img__figcaption">
                    {{product.blog_figure3_2_des}}
                  </figcaption>
                </figure>
              {% endif %}
            </div>
          </article>
          {% endif %}
        {% if product.blog_description4 != '' %}
          <article class="article">
            {{product.blog_description4}}
            
            <div class="twoImgs__wrapper">
              {% if product.blog_figure4 != '' %}
                <figure class="article__img-fig">
                  <img src="{{product.blog_figure4.url}}" alt="">
                  <figcaption class="img__figcaption">
                    {{product.blog_figure4_des}}
                  </figcaption>
                </figure>
              {% endif %}
              {% if product.blog_figure4_2 != '' %}  
                <figure class="article__img-fig img2">
                  <img src="{{product.blog_figure4_2.url}}" alt="">

                  <figcaption class="img__figcaption">
                    {{product.blog_figure4_2_des}}
                  </figcaption>
                </figure>
              {% endif %}
            </div>
          </article>
        {% endif %}
        {% if product.blog_description5 != '' %}
          <article class="article">
            {{product.blog_description5}}

            <div class="twoImgs__wrapper">
              {% if product.blog_figure5 != '' %}
                <figure class="article__img-fig">
                  <img src="{{product.blog_figure5.url}}" alt="">
                  <figcaption class="img__figcaption">
                    {{product.blog_figure5_des}}
                  </figcaption>
                </figure>
              {% endif %}
              {% if product.blog_figure5_2 != '' %}  
                <figure class="article__img-fig img2">
                  <img src="{{product.blog_figure5_2.url}}" alt="">

                  <figcaption class="img__figcaption">
                    {{product.blog_figure5_2_des}}
                  </figcaption>
                </figure>
              {% endif %}
            </div>
          </article>
        {% endif %}
        {% if product.blog_description6 != '' %}
          <article class="article">
            {{product.blog_description6}}

            <div class="twoImgs__wrapper">
              {% if product.blog_figure6 != '' %}
                <figure class="article__img-fig">
                  <img src="{{product.blog_figure3.url}}" alt="">
                  <figcaption class="img__figcaption">
                    {{product.blog_figure6_des}}
                  </figcaption>
                </figure>
              {% endif %}
              {% if product.blog_figure6_2 != '' %}  
                <figure class="article__img-fig img2">
                  <img src="{{product.blog_figure6_2.url}}" alt="">

                  <figcaption class="img__figcaption">
                    {{product.blog_figure6_2_des}}
                  </figcaption>
                </figure>
              {% endif %}
            </div>
          </article>
        {% endif %}
        {% if product.blog_description7 != '' %}
          <article class="article">
            {{product.blog_description7}}

            <div class="twoImgs__wrapper">
              {% if product.blog_figure7 != '' %}
                <figure class="article__img-fig">
                  <img src="{{product.blog_figure7.url}}" alt="">
                  <figcaption class="img__figcaption">
                    {{product.blog_figure7_des}}
                  </figcaption>
                </figure>
              {% endif %}
              {% if product.blog_figure7_2 != '' %}  
                <figure class="article__img-fig img2">
                  <img src="{{product.blog_figure7_2.url}}" alt="">

                  <figcaption class="img__figcaption">
                    {{product.blog_figure7_2_des}}
                  </figcaption>
                </figure>
              {% endif %}
            </div>
          </article>
        {% endif %}
        {% if product.blog_description8 != '' %}
          <article class="article">
            {{product.blog_description8}}

            <div class="twoImgs__wrapper">
              {% if product.blog_figure8 != '' %}
                <figure class="article__img-fig">
                  <img src="{{product.blog_figure8.url}}" alt="">
                  <figcaption class="img__figcaption">
                    {{product.blog_figure8_des}}
                  </figcaption>
                </figure>
              {% endif %}
              {% if product.blog_figure8_2 != '' %}  
                <figure class="article__img-fig img2">
                  <img src="{{product.blog_figure8_2.url}}" alt="">

                  <figcaption class="img__figcaption">
                    {{product.blog_figure8_2_des}}
                  </figcaption>
                </figure>
              {% endif %}
            </div>
          </article>
        {% endif %}
        {% if product.blog_description9 != '' %}
          <article class="article">
            {{product.blog_description9}}

            <div class="twoImgs__wrapper">
              {% if product.blog_figure9 != '' %}
                <figure class="article__img-fig">
                  <img src="{{product.blog_figure9.url}}" alt="">
                  <figcaption class="img__figcaption">
                    {{product.blog_figure9_des}}
                  </figcaption>
                </figure>
              {% endif %}
              {% if product.blog_figure9_2 != '' %}  
                <figure class="article__img-fig img2">
                  <img src="{{product.blog_figure9_2.url}}" alt="">

                  <figcaption class="img__figcaption">
                    {{product.blog_figure9_2_des}}
                  </figcaption>
                </figure>
              {% endif %}
            </div>
          </article>
        {% endif %}
        {% if product.blog_description10 != '' %}
          <article class="article">
            {{product.blog_description10}}

            <div class="twoImgs__wrapper">
              {% if product.blog_figure10 != '' %}
                <figure class="article__img-fig">
                  <img src="{{product.blog_figure10.url}}" alt="">
                  <figcaption class="img__figcaption">
                    {{product.blog_figure10_des}}
                  </figcaption>
                </figure>
              {% endif %}
              {% if product.blog_figure10_2 != '' %}  
                <figure class="article__img-fig img2">
                  <img src="{{product.blog_figure10_2.url}}" alt="">

                  <figcaption class="img__figcaption">
                    {{product.blog_figure10_2_des}}
                  </figcaption>
                </figure>
              {% endif %}
            </div>
          </article>
        {% endif %}

      </div>

      <!-- <div>
        <img src="{{product.product_image}}" alt="" style="height: 500px; width: 500px;">
        
        <form action="" method="post" >
          {% csrf_token %}
            <button class="like-btn" ></button>
        </form>

      </div>
      <div class="content-text">
        <h1>{{product.product_title}}</h1>
        <p>{{product.product_description}}</p>
      </div>
    </div> -->
    

  </section>

    <div class="blog_view__line"></div>

  <section class="sec2" >
    <h2 class="more-info"><a href="{% url 'productPage:products' %}">Zisti viac</a></h2>

    <div class="otehr-products-container">

      {% for p in sliderProducts %}

        <div class="img-container">
          <img src="{{p.product_image.url}}" alt="" style="height: 300; width: 300px;">
          <h3 class="product-title">{{p}}</h3>
        </div>
      {% endfor %}

    </div>
    
  </section>


</body>





</html>