{% extends "../index.html" %}
{% block content %}



<div class="nav-bar-UP">
  <h2><a href="#" class="logo" >Matejov Blog</a></h2>
  
  <h3 class="login"><a href="{% url 'account:login' %}">Log In</a></h3>
  

</div>

<nav class="nav-bar">
  <ul class="nav-bar-text">
    <li><a href="{% url 'homePage:home' %}" id="now_page">Domov</a></li>
    <li><a href="{% url 'productPage:products' %}">Produkty</a></li>
    <li><a href="">Kontakt</a></li>
  </ul>
</nav>


<style>
  
.login{
  position: relative;
  width: 100%;
  text-align: right;
  right: 60px;
}
.login a{
  text-decoration: none;
  color: black;
}

</style>
{% endblock %}